*.pdf
*main
*.log
*.zip
*.out*
*.wav*
*.png
*.jpeg
*.identifier
*.pyc
*.txt
DSP/Lab2/dataset/cello1.wav
DSP/Lab2/dataset/cello2.wav
DSP/Lab2/dataset/cello2.wav:Zone.Identifier
DSP/Lab2/dataset/cello3.wav
DSP/Lab2/dataset/cello3.wav:Zone.Identifier
DSP/Lab2/dataset/cello4.wav
DSP/Lab2/dataset/cello4.wav:Zone.Identifier
DSP/Lab2/dataset/clarinet_major32.wav
DSP/Lab2/dataset/clarinet_major32.wav:Zone.Identifier
DSP/Lab2/dataset/clarinet_minor.wav
DSP/Lab2/dataset/clarinet_minor.wav:Zone.Identifier
DSP/Lab2/dataset/clarinet.wav
DSP/Lab2/dataset/clarinet.wav:Zone.Identifier
DSP/Lab2/dataset/flute.wav
DSP/Lab2/dataset/flute.wav:Zone.Identifier
DSP/Lab2/dataset/glockenspiel.wav
DSP/Lab2/dataset/glockenspiel.wav:Zone.Identifier
DSP/Lab2/dataset/guitar.wav
DSP/Lab2/dataset/guitar.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_flute1.wav
DSP/Lab2/dataset/major_scale_flute1.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_flute2.wav
DSP/Lab2/dataset/major_scale_flute2.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_flute3.wav
DSP/Lab2/dataset/major_scale_flute3.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_flute4.wav
DSP/Lab2/dataset/major_scale_flute4.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_flute5.wav
DSP/Lab2/dataset/major_scale_flute5.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_piano2.wav
DSP/Lab2/dataset/major_scale_piano2.wav:Zone.Identifier
DSP/Lab2/dataset/major_scale_piano3.wav
DSP/Lab2/dataset/major_scale_piano3.wav:Zone.Identifier
DSP/Lab2/dataset/single_notes.wav
DSP/Lab2/dataset/single_notes.wav:Zone.Identifier
DSP/Lab2/dataset/tuning-fork.wav
DSP/Lab2/dataset/tuning-fork.wav:Zone.Identifier
DSP/Lab2/dataset/variant_1_ex_1_2.npy
DSP/Lab2/dataset/variant_1_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_2_ex_1_2.npy
DSP/Lab2/dataset/variant_2_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_3_ex_1_2.npy
DSP/Lab2/dataset/variant_3_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_4_ex_1_2.npy
DSP/Lab2/dataset/variant_4_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_5_ex_1_2.npy
DSP/Lab2/dataset/variant_5_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_6_ex_1_2.npy
DSP/Lab2/dataset/variant_6_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_7_ex_1_2.npy
DSP/Lab2/dataset/variant_7_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_8_ex_1_2.npy
DSP/Lab2/dataset/variant_8_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_9_ex_1_2.npy
DSP/Lab2/dataset/variant_9_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_10_ex_1_2.npy
DSP/Lab2/dataset/variant_10_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_11_ex_1_2.npy
DSP/Lab2/dataset/variant_11_ex_1_2.npy:Zone.Identifier
DSP/Lab2/dataset/variant_12_ex_1_2.npy
DSP/Lab2/dataset/variant_12_ex_1_2.npy:Zone.Identifier
